
<div id="main">
 
<div id="registerform">
  <h2>Register</h2> 
<form>
	 <br><br>
	 
	 <input type=text name=name id="name" placeholder="Enter your First-Name"><br><br>
	 <input type=text name=lname id="lname" placeholder="Enter your Last-Name"><br><br>
	 <input type=text name=email id="email" placeholder="Enter your Email"><br><br>
	 <input type=password name=password id="password" placeholder="Enter your password"><br><br>
	 <input type=password name=cpassword id="cpassword" placeholder="Please confirm your password"><br><br>
	 <input type="submit" value="Register" id="registerButton">
	 
	
</form>
</div>
</div>

