
<div id="form" >

    <form id="invite-form">

	     <input type="email" id="emailId" placeholder="Email-Id" required>
	    
	     <input type="submit" id="<%=groupId%>" class="invite" value="Invite Member" >

     </form>    
         
 <div class="add-group">Invite New Member</div>
</div>	

 <span id="groupId" style="display:none;"><%=groupId%></span>
 
<div id="<%=groupId%>">
	<ul id="groupList2" >		
	<% _.each(members, function(member){  
 
  			
	 	%>	
         <li><span class="game-name"><%=member.name%> </span> <% if(member.permission){ %><span id="<%=member.id%>" class="remove">remove</span> <% } %> </li> 
  	<% }); %>

</ul>
</div>

<style>
#form{
   
    float:right;
}​
</style>