/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block}
mark, rp, rt, ruby, summary, time {display:inline}
/* Left & Right alignment */
.left  {float:left}
.right  {float:right}
.wrapper {width:100%;}
/* Global properties ======================================================== */
body {background:border:0;font:14px Arial, Helvetica, sans-serif;color:#808080;min-width:980px; background-color:#ededed}
.ic, .ic a {border:0;float:right;background:#fff;color:#f00;width:50%;line-height:10px;font-size:10px;margin:-220% 0 0 0;overflow:hidden;padding:0}
.css3{border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;box-shadow:0 0 4px rgba(0, 0, 0, .4);-moz-box-shadow:0 0 4px rgba(0, 0, 0, .4);-webkit-box-shadow:0 0 4px rgba(0, 0, 0, .4);position:relative}
/* Global Structure ============================================================= */

.main {margin:0 auto;width:960px;position:relative;  border-top:none; border-bottom:none; padding:0 65px}

/* ============================= main layout ====================== */
a {text-decoration:none;outline:none;-webkit-transition:background-color, color 0.2s linear;-moz-transition:background-color, color 0.2s linear;transition:background-color, color 0.2s linear}

h1 { font-family:Arial; color:#0053fb; font-size:21px; font-weight:bold}
h2 {font-size:31px;color:#fff;font-weight:700;line-height:1.2em;margin-left: 20px; margin-top: 15px; font-family:Arial}

h3 {font-size:23px;color:#fff;line-height:1.2em;padding:33px 0 17px 0; letter-spacing:1px}
h3.color1 {padding:0 0 7px 0}

/* ============================= header ====================== */
#page1{margin:0 auto;background-image:url(../images/background.png); background-repeat:repeat-y; width:1050px; overflow:hidden}
#pageBottom{margin:0 auto;background-image:url(../images/bottom-back.png); background-repeat: no-repeat; width:1050px; height:66px}
#logo {display:block;text-indent:-9999px;background:url(../images/uitbieden.png) 0 0 no-repeat;height:105px; width:320px; margin-left:13px}


#search .input {font:12px Arial;color:#646464; margin:0;background:none; border:none; font-style:italic}
#search1 .input {font: 12px Arial;color: #646464;margin: 0;background: none;border: none;font-style: italic;}
.inputBack {display:inline-block;color:#646464;padding:2px;position:relative;letter-spacing:-1px; border:1px solid #8794F4; float:left; margin-right:4px; margin-top:-2px;}
.input{width:184px;}

.Navmenu  { border:1px solid #f02a3e; display:inline-block; width:95.6%; padding:5px 0px ;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px; margin-top:5px; position:relative }
.menu li  {float:left;padding-left:7px}
.menu li a {display:block; font-family:Arial; font-weight:bold;font-size:11px;color:#fff; padding:3px 13px; line-height:12px;background:#f02a3e;text-align:center;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px ;position:relative; height:24px; width:74px; }
.menu li a span {display:block;position:relative; }
.menu li .selected { background-color:#333!important; }

.linehieght{ line-height:24px}
.paddingRight{ width:78px!important}

.submenu  { margin-top:7px; color:#f12d44; float:left; margin-left:157px}
.submenu > li  {padding-left:7px; float:left}
.submenu > li > a {font-family:Arial; font-weight:bold;font-size:12px;color: #f12d44; line-height:20px }

.items {display:none}
.pagination {position:absolute;bottom:82px;right:274px;z-index:2}
.pagination li {float:left;padding-left:3px}
.pagination a {display:block;width:17px;height:17px;background:url(../images/buttons.png) right 0 no-repeat;text-indent:-9999px}
.pagination a:hover, .pagination .current a {background-position:left}
.banner {position:absolute;top:87px;z-index:2;right:32px;color:#a0a0a0;width:350px}
.title {font-size:47px;line-height:1.2em;letter-spacing:-2px;display:block;padding-bottom:9px}
.title .color2 {color:#000}
.title span {display:block;margin-top:-17px}
.upperimg{ margin-bottom:2px; margin-top:1px}
.banner .button1:hover {background:#090909;color:#fff}
.signature {text-align:right;display:block;color:#5f870e;line-height:20px;padding-top:6px}
.signature strong {display:block;color:#fff}
/* ============================= content ====================== */
#content1 { width:100%; position:relative; float:left; }
#content2 { width:100%; position:relative; float:left; }
#content2 .borderPage { width:96%; border-top:1px solid #e5e5e5; height:10px; position: relative; float:left}
.middleCorner {display:inline-block;color:#fff;background:#f4f4f4;position:relative;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px; border:1px solid #d9d9d9; float:left; position:relative;margin-top:5px; margin-left:5px;  height:347px; padding:3px; width:453px}
.imageContainer1{ display:inline-block;position:relative;border:1px solid #FFF;box-shadow: 2px 2px 2px #aaa;-o-box-shadow: 1px 1px 1px #aaa;-webkit-box-shadow: 1px 1px 1px #aaa; -moz-box-shadow: 1px 1px 1px #aaa; width:450px }
.imageContainer{ display:inline-block;position:relative;border:1px solid #BCB8B8;box-shadow: 0px 2px 2px #BCB8B8;-moz-box-shadow:0px 2px 2px #BCB8B8;-webkit-box-shadow:0px 2px 2px #BCB8B8;  padding:1px;border-radius:4px; background-color:#FFF }
.addContainer{ width:920px; height:50px; border:1px solid #F00; position:relative; float:left; margin:5px 0px 7px -2px; }
.middleCorner p{ font-family:Arial; color:#333333; font-size:15px; margin:8px 12px}
.bottomHolder{margin:3px 10px; height: 50px; float:left; width:286px;}

.popularHolder {display:inline-block; position:relative; float:left; position:relative;margin-top:5px; height:335px;width:311px;}
.popularHolder p{ font-family:Arial; color:#333333; font-size:15px; margin:6px 12px 8px 12px}

.rightCorner1 {display:inline-block;color:#fff;background:#f4f4f4;position:relative;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px; border:1px solid #d9d9d9; float:left; position:relative;margin-top:5px; margin-left:5px;  height:167px; padding:3px; width:330px}

.bottomHolder span{font-family:Arial; color: #333333; font-size:26px; line-height:22px; float:left; margin-right:18px}
.blue { color:#0053fb!important}
.bottomHolder span b{font-family:Arial; color: #333333; font-size:13px; font-weight:normal; margin-bottom:-8px; position:absolute; }
.pad_bot1 {padding-bottom:12px}
.marg_right1 {margin-right:40px}
.marg_right2 {margin-right:20px}
.no_pad { padding-bottom:0}
.color1 {color:#5f870e}
.color2 {color:#fff}
.button1 {display:inline-block; font-weight:bold; font-family:Arial;font-size:12px;color:#fff;padding:0 8px;background:#4f8cf1;line-height:24px;position:relative;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px; float:left; margin-top:-3px}

.rightbutton1 {display:inline-block; font-weight:bold; font-family:Arial;font-size:13px;color:#0053fb;padding:0 12px;background:#e9e9e9;line-height:27px;position: relative;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px; }


.list1{}
.list1 a {color:#808080;padding-left:15px;background:url(../images/marker_1.png) 0 5px no-repeat}
.list1 a:hover {color:#5f870e}
.list2{}
.list2 li {padding-left:15px;background:url(../images/marker_1.png) 0 9px no-repeat;padding-bottom:12px}
figure {padding-top:2px}
.dropcap_1 {float:left;background:url(../images/dropcap_1.png) 0 0 no-repeat;width:45px;height:45px;text-align:center;font-size:33px;line-height:42px;color:#fff;font-weight:700;margin-right:15px;margin-top:2px;margin-bottom:10px}
.address span {float:left;width:88px}
.address a {text-decoration:underline}
/* ============================= footer ====================== */
footer  {}
footer p {color:#acacac; font-family:arial; font-size:11px; font-weight:bold}
footer a:hover {color:#fff}
#icons {float:right; margin-top: -23px; margin-right:28px}
#icons li {float:left;padding-right:10px}
#icons .first {float:none;font-size:23px;color:#fff;font-weight:400;line-height:1.2em;margin-top:-15px;letter-spacing:-1px;padding-bottom:9px}

.FooterMenu  { border:1px solid #f02a3e; position:relative; display:inline-block;padding:5px 0 5px 5px;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px; width:95%; margin-top:20px; margin-bottom:15px}
.FooterMenu > li  {float:left; margin-right:5px}
.FooterMenu > li > a {display:block; font-family:Arial; font-weight:bold;font-size:11px;color:#fff; padding:3px 7px; line-height:23px;background:#c91325;text-align:center;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px ;position:relative; height:24px;  }
.FooterMenu > li > a span {position:relative}
.icones{float: left; margin-top: 15px; }
.icones li{float:left; margin-right:10px; }
/* ============================= forms ============================= */
#ContactForm {margin-top:-2px}
#ContactForm .wrapper {overflow:inherit;min-height:30px;line-height:26px}
#ContactForm .textarea_box {min-height:189px}
#ContactForm  span {float:left;width:80px}
#ContactForm a {margin-left:15px;float:right;width:124px;padding:0;text-align:center}
#ContactForm .input  {margin:0;width:420px;height:18px;background:none;padding:4px 10px;color:#646464;font:14px Arial, Helvetica, sans-serif}
#ContactForm textarea  {overflow:auto;width:820px;height:160px;background:none;padding:4px 10px;color:#000;font:14px Arial, Helvetica, sans-serif;margin:0}
#ContactForm  .bg {background:#fff; position:relative;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;float:left}
.topimg{float:left; }
.price{float:left; width:75px; margin-left:7px;}
.price b {font-family: Arial; color: #333; font-size: 13px; font-weight: normal;}
.price span{font-family: Arial;color: black; font-size: 26px; line-height: 20px;}
.biedButton1{background: url(../images/rectButton.png); width:144px; height:45px;float:left; margin-top: 3px; }
.squarebutton{background: url(../images/squareButton.png) 0 0 no-repeat; width:75px; height:65px; margin-top:100px;background-repeat: no-repeat; margin-left:5px;}
.nerrowbutton{background: url(../images/nerrowButton.png); width:115px; height:36px; color:black; float:left; margin-top:7px; margin-left: 0px; text-align:center}
.holder{ width:176px!important; margin:0px;}
.blue1{font-weight: bold; font-size: 20px; font-family: arial;}


.as{vertical-align: bottom; line-height: 38px;}
.as1{ line-height: 42px; padding-left: 32px; margin-top:8px;}
.as2{line-height: 25px;margin-left: 12px;}
.pbutton{float:left;width:80px; height:161px;}
.menu_a{height:33px;width:133px !important;}
.menu_child{margin-top:9px;}
.menu_f{margin-top:4px;}
.p1{ margin-right:0px !important; padding-left: 12px!important; padding-right:12px !important;}
.blak_bg{ background:url(../images/black-transpent.png); background-repeat:no-repeat;width: 95px; height:31px; float: right; z-index: 100; position: absolute; top: 2px; left: 205px;}
.pink_bg{ background:url(../images/transperent-Back.png); background-repeat:no-repeat; width: 287px; height:33px; float: left; z-index: 100; position: absolute; top: 189px; left: 2px;}
.t1{color: white;font-size: 18px;font-family: arial;padding: 4px; line-height:24px; font-weight:bold}
.time{color: white;font-size: 17px; line-height:0px; padding: 15px; font-family:Arial;}
.p_bg{ width:238px !important; top:134px !important;}
.b_bg{top: 4px !important; left: 157px !important;}
.bcont{top:302px; position:absolute;}
.heading{position: absolute;top: 587px;}
.sqb{margin-left: 16px; line-height: 21px; padding-top: 10px;}
.first_menu{background:none !important; padding:0px 0px !important; width:44px !important; margin-left:-1px}
.serch_text{ float:left; width:64.5%;}
.lists{ width:106px; margin-top: 1px;}
.logo1{ margin:0 auto; width: 420px; float:left;padding-top: 10px;}
.fb_like{ float:right; width: 208px; padding-top:10px;}
.sub_menu{color:#4f8cf1; font-weight:bold;}
.sub_menu ul{}
.sub_menu ul li{ float:left; margin-right:7px; font-size: 12px; padding-top:10px;}

.sub_menu2{color:#4f8cf1; font-weight:bold; position:absolute; float:left; left:65px; top:95px}
.sub_menu2 ul li{ float:left; margin-right:7px; font-size: 12px;}

.right_img{ float:left; padding:1px; margin-right:1px}
.left_img{ float:left;}
.main_banner{ padding-top:4px; padding-bottom:5px;}
.imgs{ width:919px !important;}
.lower_menu li{float: left;  height:26px; width:295px; border: 1px solid #F02A3E; color:#f02b40; font-weight:bold; border-radius:2px; text-align:center; line-height:25px; font-size:17px; font-family:Arial; display:inline-block; position:relative}
.line{ background:url(../images/line.png); width:15px !important; border: none !important; height:7px !important; margin-top:10px; border-radius:none;}
.lower_menu span{padding-left: 66px; line-height: 21px;}
#main_bannerContainer{ padding-bottom:10px;}
.bannerimg{ border:none!important;}
.baner_bg{width: 455px; height: 533px; position: absolute; z-index: 100; top: 80px; left: 466px; background:url(../images/tens_bg.png); background-repeat:no-repeat;}
.pera{ color:white; text-align:justify; margin-left:10px; padding:8px 22px 18px 12px; font-size:14px; font-weight:bold}
.bied_Button{float: right; margin-right: 13px; background:url(../images/biedButton.png); background-repeat:no-repeat; width:167px; height:43px;}
.black_trans{ background:url(../images/blackTrans.png); background-repeat:no-repeat; float:left; position:absolute; z-index:100; width:113px; height:62px; 
top: 120px; left: 3px;}
.black_trans h2{font-size:35px;color:#fff;font-weight:700;;margin-left: 10px; margin-top: 10px; font-family:Arial}
.bied_Button span{color:#0053fb; font-size:27px; line-height:47px; font-family:Arial; letter-spacing:-1px; font-weight:bold; padding-left: 23px;}
.mainprice{margin-left: 123px; width: 150px; float: left; color:white; font-weight:bold;}
.mainprice span{ float:left;width: 75px; font-size:23px;line-height:20px; letter-spacing:2px}
.mainprice span b{ float:left; width: 75px; font-size:12px; font-family:Arial; line-height:-10px; letter-spacing:0px}
/*<img src="images/transperent-Back.png">*/


/* Category */

.lower-menu li{ float:left; color:red;}
.upper-text{ padding:10px; overflow: auto; height: auto;}
.upper-text span{float: left;font-size: 36px;color: #f12d44;font-weight: bold;margin-right: 20px; margin-left:-3px; margin-top:-7px}
.upper-text p{color:#333333; font-size:15px;text-align: justify;width: 753px;
float: left;
}
.imgs1{float:left!important; margin-right:14px}
.plh{ margin-top: 0px !important; height: 324px!important;}
.hus{ margin-top:-8px !important;}
.nsb{ margin-top:-1px  !important;}
.baner_pinkbg{width: 356px; height: 139px;position: absolute;z-index: 100;top: 80px;left:251px; background: url(../images/pinkbg123.png); 
background-repeat: no-repeat;}
.text_bg{ padding-top:6px; margin-left:12px; }
.pera1{color: white; text-align: justify; font-size: 11px; margin: -12px 12px; font-weight:bold}
.black_trans1{background: url(../images/black-transpent1.png); float: left;position: absolute;z-index: 100;width: 99px;
top: 91px;left: -1px; background-repeat:no-repeat}
.black_trans1 span{ padding-top: 3px; margin-left: 17px;font-weight: normal!important;}
.tbg1{margin-left: 17px !important;}
.nbut{float: right !important; margin-top:33px!important; margin-right: 5px!important; background: url(../images/nerrowButton-new.png); background-repeat:no-repeat; width:133px; height:34px; text-align:center; line-height:33px}
.mainprice1{margin-left:95px; width: 123px; float: left; color: white; font-weight: bold; margin-top:27px;}
.mainprice1 span{float:left; width:60px; font-size:19px; line-height:16px; }
.mainprice1 span b{float:left; width:60px; font-size:10px;}